*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #323334;
  color: white;
  width: 95vw;
}
.Container{
  max-width: 90%;
  margin: 0 auto;
  
}

.TopContainer{
  min-height: 100px;
  width: calc(100%-40px);
  display: flex;
  justify-content: space-between;
  padding:0 36px;
  align-items: center;
}
.loogo img{
  width: 55px;
  height: 45px;
  padding-right: 1rem;
}

.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left: 4px solid green;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin-top: -25px;
  margin-left: -25px;
  position: absolute;
  top: 50%;
  left: 50%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.green{
  color: green;
}
.search {
  display: flex;
  align-items: center; /* Vertically align items */
}

.search input {
  background-color: transparent;
  border: 1px solid green;
  color: white;
  border-radius: 5px;
  height: 40px;
  font-size: 17px;
  padding: 0 4px;
  outline-style: none;
}

.search img {
  box-shadow: 20px 20px 50px 10px rgb(106, 61, 61) inset;
  width: 25px;
  margin-left: 8px;
  border-radius: 50%;
  cursor: pointer;
}
.count-box{
  position: relative;
}
.count{
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: green;
  color: white;
  border-radius: 50%;
  padding: 3px 6px;
  font-size: 12px;
  font-weight: bold;
}



.FilterContainer{
  width: 100%;

  display: flex;
  justify-content: center;
  gap: 10px;
  padding-bottom: 40px;
}
.btn{
  background-color:green;
  border-radius: 5px;
  padding: 5px 11px;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 0.4rem;
}
.btn.active {
  background-color: white;
  color: green;
}
.FoodCardContainer {
  min-height: 100%;
  background-image: url(./image/wallpaperflare.com_wallpaper\ \(1\).jpg);
  background-size: cover;
  border-radius: 20px;
}


.FoodCards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 32px;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.FoodCard {
  width: 300px;
  height: 167px;
  border: 0.66px solid;
  background-blend-mode: overlay, normal;
  backdrop-filter: blur(13.1842px);
  border-radius: 20px;
  display: flex;
  padding: 9px;
}
.FoodCard .foodImage{
  border-radius: 40%;
  width: 40%;
 height: 90%;
 padding-right: 1rem;
}
.FoodCard .food_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

.FoodCard .food_info h3 {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 500;
}

.FoodCard .food_info p {
  margin-top: 4px;
  font-size: 12px;
  line-height: 1.5em; 
  max-height: 6em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.FoodCard .food_info button {
  font-size: 12px;
}
@media (0 < width < 600px) {
  body{
    max-width: 90vh;
  }
  .Container{
   flex-direction: column;
    max-width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
   height: 120px; }
   .TopContainer{
   
     flex-direction: column;
     width: calc(100%-40px);
     height: 120px;
   }
   .FilterContainer{
    flex-direction: column;
    padding-top: 1rem;
    height: 100px;
    width: 100%;
  }
  .FoodCardContainer{
    max-width: 100%;
  }
 }
 @media (0 < width < 400px) {
   .FilterContainer{
     flex-direction: column;
     padding-top: 1rem;
     height: 100px;
     width: 100%;
   }
 }
 /* Checkout.css */
.checkout-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
.head{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.checkout-items {
  border: 1px solid #ccc;
  padding: 10px;
  margin:1rem 0;
}

.checkout-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.category-name {
  font-weight: bold;
}

.total-price {
  margin-top: 20px;
  text-align: right;
  font-weight: bold;
}

/* Add other styles as needed */
.checkout-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin:1rem 0;
}
.pay-now-button {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.cancel-order-button {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}


.thank-you-container {
  text-align: center;
  margin: 20px;
  margin-top: 2rem;
}

.emoji {
  font-size: 48px;
  margin-top: 10px;
}
.red{
  color: red;
}